
.para-style{

    color: brown;
    font-size: 3rem;
    font-weight: bold;
    font-style: italic;
}

.remo-style{
    color: aqua;
    font-size: 3rem;
    font-weight: bold;
    font-style: italic;
}